[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=CLion
Comment=The Drive to Develop
Path=$HOME/Development/bin/clion/bin/
Exec="$HOME/Development/bin/clion/bin/clion.sh" %f
Icon=$HOME/Development/bin/clion/bin/clion.png
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-clion
