[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=IntelliJ IDEA
Comment=The Drive to Develop
Path=$HOME/Development/bin/idea/bin/
Exec="$HOME/Development/bin/idea/bin/idea.sh" %f
Icon=$HOME/Development/bin/idea/bin/idea.png
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
