[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Gogland
Comment=The Drive to Develop
Path=$HOME/Development/bin/gogland/bin/
Exec="$HOME/Development/bin/gogland/bin/gogland.sh" %f
Icon=$HOME/Development/bin/clion/bin/gogland.png
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-gogland
